<div class="container-fluid" id="movCont">
  <div class="table-responsive movTable">
    <table class="table table-bordered">
      <tr id="movHead">
        <th class="text-center col-md-2">Title</th>
        <th class="text-center col-md-2">Language</th>
        <th class="text-center col-md-2">Genre</th>
        <th class="text-center col-md-2">Runtime</th>
        <th class="text-center col-md-2">Release Date</th>
        <th class="text-center col-md-2"></th>
      </tr>

      <tr ng-repeat="movie in movieCtrl.moviesData">
        <td class="text-center col-md-2">{{movie.title}}</td>
        <td class="text-center col-md-2">{{movie.language}}</td>
        <td class="text-center col-md-2">{{movie.genre}}</td>
        <td class="text-center col-md-2">{{movie.runtime}}</td>
        <td class="text-center col-md-2">{{movie.date}}</td>
        <td class="text-center col-md-2"><button class="btn btn-danger" ng-click="movieCtrl.deleteMovie(movie)"><span class="glyphicon glyphicon-trash"></span></button></td>
      </tr>
    </table>
  </div>

  <div class="table-responsive movTable">
    <table class="table">
      <tr ng-show="movieCtrl.movieInput">
        <td class="text-center col-md-2">{{movieCtrl.newMovieInfo.title}}</td>
        <td class="text-center col-md-2">{{movieCtrl.language}}</td>
        <td class="text-center col-md-2">{{movieCtrl.genre}}</td>
        <td class="text-center col-md-2">{{movieCtrl.newMovieInfo.runtime}} mins</td>
        <td class="text-center col-md-2">{{movieCtrl.newMovieInfo.release_date}}</td>
        <td class="text-center col-md-2"><button class="btn btn-success" ng-click="movieCtrl.addMovie()"><span class="glyphicon glyphicon-plus"></button></td>
      </tr>

      <tr>
        <td class="text-center col-md-2"></td>
        <td class="text-center col-md-2"></td>
        <td class="text-center col-md-2">
          <form name="movForm">
            <div class="form-group">
              <input type="text" placeholder="Title" class="form-control" ng-model="movieCtrl.title" required><br/>
              <button type="submit" id="searchButton" class="btn btn-default" ng-disabled="movForm.$invalid" ng-click="movieCtrl.searchMovie(movieCtrl.title)">Search</button>
            </div>
          </form>
        </td>
        <td class="text-center col-md-2"></td>
        <td class="text-center col-md-2"></td>
        <td class="text-center col-md-2"></td>
      </tr>
    </table>
  </div>

  </div>
</div>
