header{
    text-align: center;
}

h2{
    font-family: fantasy;
}

img{
  height: 200px;
}

.movie-display{
  display: inline-block;
  margin: 30px;
}

.navbar{
    margin: 0;
}

.nav-cont{
    background-color: black;
}

.car-img .car-div{
    height: 450px;
}
