<header class="hero-unit" id="banner">
  <div class="container">

    <div id="ex-carousel" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#ex-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#ex-carousel" data-slide-to="1"></li>
            <li data-target="#ex-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img class="car-img" src="../../assets/images/img1.jpg">
            </div>

            <div class="item">
                <img class="car-img" src="/img/img2.jpg">
            </div>

            <div class="item">
                <img class="car-img" src="/img/img3.jpg">
            </div>
        </div>
        <a class="left carousel-control"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>


    <h2>MOVIES</h2>
    <table class="table" centered>
      <tr class="success">
        <th class="text-center col-md-4">Name</th>
        <th class="text-center col-md-4">Genre</th>
        <th class="text-center col-md-4">Release Date</th>
      </tr>
      <tr ng-repeat="movie in mainCtrl.moviesData">
        <td class="text-center col-md-4">{{movie.name}}</td>
        <td class="text-center col-md-4">{{movie.genre}}</td>
        <td class="text-center col-md-4">{{movie.date}}</td>
      </tr>
    </table>

    <h2>THEATERS</h2>

    <table class="table" centered>
      <tr class="success">
        <th class="text-center col-md-4">City</th>
        <th class="text-center col-md-4">Theater Name</th>
        <th class="text-center col-md-4">Location</th>
      </tr>
      <tr ng-repeat="theater in mainCtrl.theatersData">
        <td class="text-center col-md-4">{{theater.name}}</td>
        <td class="text-center col-md-4">{{theater.theater.name}}</td>
        <td class="text-center col-md-4">{{theater.theater.location}}</td>
      </tr>
    </table>

</div>
