<div class="container-fluid" style="text-align: center;">

  <h4>ADD A NEW THEATER</h4>

  <div class="row">

    <div class="col-md-4">
      <input type="text" placeholder="Name" class="form-control" ng-model="theaterCtrl.newTheater.name" />
    </div>

    <div class="col-md-4">
      <input type="text" placeholder="Location" class="form-control" ng-model="theaterCtrl.newTheater.location" />
    </div>

    <div class="col-md-4">
      <label>Select a city</label>
      <select ng-model="theaterCtrl.cityName" id="myselect" style="width: 150px; margin: 0 20px;" required>
          <option ng-repeat="city in theaterCtrl.citiesData" value="{{city.name}}">{{city.name}}</option>
      </select>
      <button class="btn btn-default" type="submit" ng-click="theaterCtrl.addCity()">Add</button>
    </div>

  </div>

  <div class="row">
    <button class="btn btn-default" type="submit" ng-click="theaterCtrl.addTheater()">Add theater</button>
  </div>


</div>
