.container {
  width: 90%;
}

.cont-left {
  display: inline-block;
}

ol {
  color: lightgrey;
}

.summary-title {
  font-family:'courier new';
  border-top: 1px dashed lightgrey;
  border-bottom: 1px dashed lightgrey;
  margin: 0 0 20px 0;
  padding: 10px 0 5px 0;
  text-align: center;
}

h4, h5{
  font-family:'courier new';
  color: black;
}

.space {
  display: inline-block;
  height: 22px;
  width:22px;
  margin: 4px 5px;
}
.seat {
  cursor: pointer;
  padding: 2px;
  display: inline-block;
  height: 22px;
  width:22px;
  margin: 4px 5px;
  color: lightgrey;
  border: 1px solid grey;
  border-radius: 5px;
}

.seat.selected-cell {
  background-color: #46b8da;
  color: white;
}

.seat.booked-cell{
  background-color: grey;
  color: white;
}

.modalUL {
  width: 560px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
}

.modalLI {
  border: 1px solid white;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px;
  width: 56px;
}

.cont-right {
  width: 400px;
  display: inline-block;
  float: right;
  text-align: center;
}

.order-summary{
  height: 364px;
  background-color: #f2f2f2;
}

.sub-cont {
  margin: 0 30px;
  text-align: left;
  border-bottom: 1px dashed lightgrey;
}

.seat-no {
  float: left;
  border: 0.5px solid #46b8da;
  border-radius: 20px;
  margin: 0 2px 10px 2px;
  padding: 4px;
}
