<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">How many tickets?</h4>
      </div>
      <div class="modal-body">
        <ul class="modalUL">
          <li class="modalLI" ng-repeat="n in [].constructor(10) track by $index" ng-click="seatSelectCtrl.getTotSeats($index+1)">{{$index+1}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="container" style="text-align:center">

  <div class="cont-left">
    <ol type="A">
      <h4>{{seatSelectCtrl.classType[0]}}</h4>
      <li ng-repeat="r in seatSelectCtrl.generateArray(10) | limitTo:2:0">
        <div class="seat crossOut" data-row="{{r}}" data-col="{{c}}" data-classType="{{seatSelectCtrl.classType[0]}}" ng-repeat="c in seatSelectCtrl.generateArray(20) | limitTo:10:0" ng-class="{'selected-cell': seatSelectCtrl.isSelected(r,c), 'booked-cell': seatSelectCtrl.isBooked(r,c)}" ng-click="seatSelectCtrl.onClick($event)">{{c}}</div>
        <div class="space"></div>
        <div class="seat" data-row="{{r}}" data-col="{{c}}" data-classType="{{seatSelectCtrl.classType[0]}}" ng-repeat="c in seatSelectCtrl.generateArray(20) | limitTo:20:10" ng-class="{'selected-cell': seatSelectCtrl.isSelected(r,c), 'booked-cell': seatSelectCtrl.isBooked(r,c)}" ng-click="seatSelectCtrl.onClick($event)">{{c}}</div>
      </li>
      <div class="space"></div>
      <h4>{{seatSelectCtrl.classType[1]}}</h4>
      <li ng-repeat="r in seatSelectCtrl.generateArray(10) | limitTo:3:2">
        <div class="seat" data-row="{{r}}" data-col="{{c}}" data-classType="{{seatSelectCtrl.classType[1]}}" ng-repeat="c in seatSelectCtrl.generateArray(20) | limitTo:10:0" ng-class="{'selected-cell': seatSelectCtrl.isSelected(r,c), 'booked-cell': seatSelectCtrl.isBooked(r,c)}" ng-click="seatSelectCtrl.onClick($event)">{{c}}</div>
        <div class="space"></div>
        <div class="seat" data-row="{{r}}" data-col="{{c}}" data-classType="{{seatSelectCtrl.classType[1]}}" ng-repeat="c in seatSelectCtrl.generateArray(20) | limitTo:20:10" ng-class="{'selected-cell': seatSelectCtrl.isSelected(r,c), 'booked-cell': seatSelectCtrl.isBooked(r,c)}" ng-click="seatSelectCtrl.onClick($event)">{{c}}</div>
      </li>
      <div class="space"></div>
      <h4>{{seatSelectCtrl.classType[2]}}</h4>
      <li ng-repeat="r in seatSelectCtrl.generateArray(10) | limitTo:5:5">
        <div class="seat" data-row="{{r}}" data-col="{{c}}" data-classType="{{seatSelectCtrl.classType[2]}}" ng-repeat="c in seatSelectCtrl.generateArray(20) | limitTo:10:0" ng-class="{'selected-cell': seatSelectCtrl.isSelected(r,c), 'booked-cell': seatSelectCtrl.isBooked(r,c)}" ng-click="seatSelectCtrl.onClick($event)">{{c}}</div>
        <div class="space"></div>
        <div class="seat" data-row="{{r}}" data-col="{{c}}" data-classType="{{seatSelectCtrl.classType[2]}}" ng-repeat="c in seatSelectCtrl.generateArray(20) | limitTo:20:10" ng-class="{'selected-cell': seatSelectCtrl.isSelected(r,c), 'booked-cell': seatSelectCtrl.isBooked(r,c)}" ng-click="seatSelectCtrl.onClick($event)">{{c}}</div>
      </li>
      <div class="space"></div>
    </ol>
  </div>

  <div class="cont-right">
    <div class="order-summary">
      <h3 id="order-title">ORDER SUMMARY</h3>
      <div class="sub-cont">
        <h5>You have chosen to watch <span style="font-size:1.75rem">{{seatSelectCtrl.selectedMovie}}</span></h5>
        <h5>at <span style="font-size:1.75rem">{{seatSelectCtrl.selectedTheater}}</span></h5>
        <h5>on <span style="font-size:1.75rem">{{seatSelectCtrl.selectedDate}}, {{seatSelectCtrl.selectedTime}}</span></h5>
      </div>
      <div class="sub-cont" ng-show="seatSelectCtrl.showPrice" style="padding-bottom: 40px;">
        <h4>{{seatSelectCtrl.selectedClass}}</h4>
        <p class="seat-no" ng-repeat="seat in seatSelectCtrl.seatNos">{{seat}} </p>
      </div>
      <div class="sub-cont" ng-show="seatSelectCtrl.showPrice">
        <h5>Ticket Price : <span style="font-size:1.5rem">Rs.{{seatSelectCtrl.price}}</span></h5>
        <h5>Service Tax : <span style="font-size:1.5rem">Rs.4</span></h5>
        <h5>Convenience Fee: <span style="font-size:1.5rem">Rs.15</span></h5>
      </div>
      <div ng-show="seatSelectCtrl.showPrice">
        <h4>Total Amount: Rs.{{seatSelectCtrl.totPrice}}</h4>
      </div>
    </div>
    <a style="margin-top:30px;" class="btn btn-info" ng-click="seatSelectCtrl.submit()" href="/payment">CONFIRM</a>
  </div>

</div>
