<div class="container-fluid">
  <table class="table" id="movTable">

    <tr class="success">
      <th class="text-center col-md-3">Name</th>
      <th class="text-center col-md-3">Genre</th>
      <th class="text-center col-md-3">Release Date</th>
      <th class="text-center col-md-3"></th>
    </tr>

    <tr ng-repeat="movie in adminViewCtrl.moviesData">
      <td class="text-center col-md-3">{{movie.name}}</td>
      <td class="text-center col-md-3">{{movie.genre}}</td>
      <td class="text-center col-md-3">{{movie.date}}</td>
      <td class="text-center col-md-3"><button class="btn btn-danger" ng-click="adminViewCtrl.deleteMovie(movie)">Remove</button></td>
    </tr>

    <tr>
        <td class="text-center col-md-3" style="vertical-align: middle;">
          <form name="movForm">
            <div class="form-group">
              <input type="text" placeholder="Title" class="form-control" ng-model="adminViewCtrl.title" required><br/>
              <button type="submit" id="searchButton" class="btn btn-default" ng-disabled="movForm.$invalid" ng-click="adminViewCtrl.searchMovie(adminViewCtrl.title)">Search</button>
            </div>
          </form>
        </td>

        <td ng-show="adminViewCtrl.movieInput" class="text-center col-md-3" style="vertical-align: middle;"><img src="{{adminViewCtrl.newMovie.Poster}}" style="height: 200px; width: auto;"></td>

        <td ng-show="adminViewCtrl.movieInput" class="col-md-3" style="vertical-align: middle;">
          Title: {{adminViewCtrl.newMovie.Title}}</br>
          Year: {{adminViewCtrl.newMovie.Year}}</br>
          Langauage: {{adminViewCtrl.newMovie.Language}}</br>
          Genre: {{adminViewCtrl.newMovie.Genre}}</br>
          Runtime: {{adminViewCtrl.newMovie.Runtime}}</br>
          Release Date: {{adminViewCtrl.newMovie.Released}}
        </td>

        <td ng-show="adminViewCtrl.movieInput" class="text-center col-md-3" style="vertical-align: middle;"><button class="btn btn-success" ng-click="adminViewCtrl.addMovie()">Add</button></td>
    </tr>
  </table>

  </div>
</div>
